@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-blue : #1268DB;
  --primary-blue-light : #2685F1;
  --dark-blue : #004DA5;
  --darker-blue : #164E8E;
  --light-blue : #76ACE9;
  --extra-light-blue: #EBF4FE;
  --green-color : #23A87D;
  --red-color : #FF2B40;
  --white-color : #ffffff;
  --border-color : #C2D2D9;
  --light-text-color : #A1AEB7;
  --dark-gray : #60788F;

  --subheading-size : 2rem;
  --heading-size : 2.5rem;
  --text-size : 1.2em;
  --body-font : "Ubuntu", sans-serif;
}

body{
  font-family: var(--body-font);
}